parameters:
    exchange_rates:
        USD:
            EUR: 0.92
        EUR:
            USD: 1.09

services:
    _defaults:
        autowire: true
        autoconfigure: true

    Money\Currencies\ISOCurrencies: ~
    Money\Currencies: '@Money\Currencies\ISOCurrencies'

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/Domain/**'
            - '../src/Application/**'
            - '../src/Infrastructure/Temporal/**'

    App\Domain\:
        resource: '../src/Domain/'
        exclude: '../src/Domain/**'

    App\Application\:
        resource: '../src/Application/'
        exclude: []

    App\Infrastructure\:
        resource: '../src/Infrastructure/'
        exclude: '../src/Infrastructure/Temporal/**'

    App\Application\Transfer\AccountRepositoryInterface: '@App\Infrastructure\Persistence\Doctrine\AccountRepository'
    App\Application\Transfer\LedgerRepositoryInterface: '@App\Infrastructure\Persistence\Doctrine\LedgerRepository'
    App\Application\Transfer\TransactionRepositoryInterface: '@App\Infrastructure\Persistence\Doctrine\TransactionRepository'
    App\Application\Transfer\IdempotencyStoreInterface: '@App\Infrastructure\Idempotency\RedisIdempotencyStore'

    App\Application\Transfer\ExchangeRateProviderInterface:
        class: App\Infrastructure\ExchangeRate\ConfigurableExchangeRateProvider
        arguments:
            $exchangeRates: '%exchange_rates%'
            $currencies: '@Money\Currencies'

    App\Application\Transfer\TransferFundsHandler:
        arguments:
            $exchangeRates: '@App\Application\Transfer\ExchangeRateProviderInterface'

    App\Infrastructure\Http\Controller\TransferController:
        arguments:
            $commandBus: '@command_bus'

    App\Infrastructure\Idempotency\RedisIdempotencyStore:
        arguments:
            $cache: '@cache.app'
